<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>93197460205-gnbqq9143qu6bb5ja6p49mgr7rf5s1t5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.93197460205-gnbqq9143qu6bb5ja6p49mgr7rf5s1t5</string>
	<key>API_KEY</key>
	<string>AIzaSyCBQXPssRGtPokHRz4KFYtzhmxkNEDdKWE</string>
	<key>GCM_SENDER_ID</key>
	<string>93197460205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xyz.ninefortyone.Athena</string>
	<key>PROJECT_ID</key>
	<string>athena-e894b</string>
	<key>STORAGE_BUCKET</key>
	<string>athena-e894b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:93197460205:ios:fd717797b9b7cc456262e4</string>
</dict>
</plist>